.BlogpostListContainer {
  min-height: 65vh;
  width: 100vw;
  padding: 0 10px;
  p {
    color: $QueenBlue;
    font-size: 3em;
    font-weight: 100;
  }
  .BlogpostList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    &__item {
      a {
        transition: $transition;
        div {
          width: 30vw;
          height: 25vh;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          background: $FleryRose;
          margin: 1vh 0;
          padding: 1vh;
          h3 {
            color: white;
          }
        }
        &:hover {
          div {
            background: $Wine;
          }
        }
      }
    }
  }
}
