.PostPage{
    min-height: 60vh;
    width: 100vw;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .header{
        font-size: 2em;
        color: $QueenBlue;
    }
    &__buttons{
       button{
        padding: 10px;
        margin: 5px;
        border-radius: 10px;
        background: $QueenBlue;
        border:none;
        color: white;
        transition: 0.3s ease;
        &:hover{
            background: $MidnightGreenEagleGreen;
        }
       }
    }
}