.Comments {
  > * {
    width: 70vw;
  }
  .header {
    font-size: 2em;
    color: $Wine;
  }
  form {
    display: flex;
    flex-direction: column;
    position: relative;

    align-items: flex-end;
    * {
      margin: 5px;
    }
    textarea {
      border: none;
      width: 98%;
      border-bottom: 1px solid $Wine;
    }
    input {
      width: 80px;
      padding: 10px;
      margin: 5px;
      border-radius: 10px;
      background: $QueenBlue;
      border: none;
      color: white;
      transition: 0.3s ease;
      &:hover{
        background: $MidnightGreenEagleGreen;
      }
    }
  }
  &List {
    display: flex;
    flex-direction: column-reverse;
    .comment {
      padding: 10px 0;
      border-top: 1px solid $mint60;
    }
  }
}
