
// colors
$MidnightGreenEagleGreen: #114b5f;
$QueenBlue: #456990;
$Nyanza: #e4fde1;
$FleryRose: #f45b69;
$Wine: #6b2737;

$mint20 : #92ddc8;
$mint40:  #81b69d;
$mint60: #5aa17f;
$mint80: #137a63;
$mint100: #0a3a2a;


$borderRadius: 10px;
$transition :.3s ease;